<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>公共配置</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>interface</key>
				<string>当前SDK版本</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置调试模式</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置服务器URL</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置上传间隔</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置累积条数</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置最大缓存</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>立即上传数据</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>通用属性</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>interface</key>
				<string>注册通用属性</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>获取单个通用属性</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>添加单个通用属性</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>删除单个通用属性</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>清除通用属性</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
            <dict>
                <key>interface</key>
                <string>当前通用属性</string>
                <key>backgroundColor</key>
                <string>#A9A9A9</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>页面自动采集</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>interface</key>
				<string>打开/关闭</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>忽略&apos;下一页&apos;</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>下一页</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>事件跟踪</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>interface</key>
				<string>点击事件</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>点击事件带属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>页面事件</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>页面事件带属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>用户关联</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>interface</key>
				<string>用户ID设置</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>用户关联</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>清除本地设置</string>
				<key>backgroundColor</key>
				<string>#A9A9A9</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>用户属性</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>interface</key>
				<string>设置多个用户属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置单个用户属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置多个固有属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置单个固有属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置多个相对变化值</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>设置单个相对变化值</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>追加多个用户属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>追加单个用户属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>删除单个用户属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>删除所有用户属性</string>
				<key>backgroundColor</key>
				<string>#9846B2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Hybrid</string>
		<key>subArray</key>
		<array>
			<dict>
				<key>interface</key>
				<string>UIWebView</string>
				<key>backgroundColor</key>
				<string>#1E90FF</string>
			</dict>
			<dict>
				<key>interface</key>
				<string>WKWebView</string>
				<key>backgroundColor</key>
				<string>#1E90FF</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
